/* ======================== VARIABLE ======================== */
/* ======================== FONTS ======================== */
/* ======================== LIST ======================== */
/* ======================== URL ======================== */
/* ======================== RESET ======================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=vietnamese");
* {
  padding: 0px;
  margin: 0px; }
  *:focus {
    outline: none; }

a {
  text-decoration: none;
  word-wrap: break-word;
  transition: all 0.25s; }
  a:hover {
    text-decoration: none;
    transition: all 0.25s; }
  a:focus {
    outline: none;
    text-decoration: none;
    outline-offset: 0; }

button {
  transition: all 0.25s; }
  button:hover {
    transition: all 0.25s; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
  border: 0; }

select:focus, button:focus, input:focus {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul li,
ol li {
  list-style: none; }

p {
  margin: 0; }

h1 {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
  font-weight: 700; }

h2 {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
  font-weight: 700; }

h3 {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
  font-weight: 700; }

h4 {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
  font-weight: 700; }

h5 {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
  font-weight: 700; }

h6 {
  margin: 0px;
  padding: 0px;
  color: #2b2b2b;
  font-weight: 700; }

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  background: url("../images/background.png") repeat top center; }

.clearfix {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* ======================== FONTS ======================== */
/* ======================== MIXIN ======================== */
/* ======================== FONTS ======================== */
.container {
  width: 1200px;
  margin: 0 auto; }

.container:before,
.container:after {
  content: "";
  display: table; }

.container:after {
  clear: both; }

.upper-text {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.page-child {
  padding: 30px 0; }
  .page-child .page-left {
    float: left;
    width: 930px;
    margin-right: 30px; }
  .page-child .page-right {
    float: right;
    width: 240px; }

.block-item-home {
  margin-bottom: 50px; }
  .block-item-home .block-wrap {
    background: url("../images/craft-1920x500.png") no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    padding: 30px 0; }
  .block-item-home .block-title {
    margin-bottom: 20px; }
    .block-item-home .block-title span {
      display: inline-block;
      vertical-align: middle; }
    .block-item-home .block-title .title {
      font-size: 35px;
      color: #FF4A57; }

.block-item-topics .topics-items {
  text-align: center; }
  .block-item-topics .topics-items .topics-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px; }
    .block-item-topics .topics-items .topics-item .topics-item-wrap1 {
      background: url("../images/home-title-topic-bg1.png") no-repeat center; }
      .block-item-topics .topics-items .topics-item .topics-item-wrap1 .topics-item-box .note {
        background: #7192cb; }
    .block-item-topics .topics-items .topics-item .topics-item-wrap2 {
      background: url("../images/home-title-topic-bg2.png") no-repeat center; }
      .block-item-topics .topics-items .topics-item .topics-item-wrap2 .topics-item-box .note {
        background: #ee8b71; }
    .block-item-topics .topics-items .topics-item .topics-item-wrap {
      border-radius: 50%;
      width: 438px;
      height: 438px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .block-item-topics .topics-items .topics-item .topics-item-wrap .topics-item-box {
        width: 90%;
        height: 90%;
        display: block;
        background: #FFF;
        border-radius: 50%; }
        .block-item-topics .topics-items .topics-item .topics-item-wrap .topics-item-box .topics-item-ct {
          padding: 20px; }
        .block-item-topics .topics-items .topics-item .topics-item-wrap .topics-item-box .date {
          font-size: 13px;
          font-weight: 500;
          margin: 5px 0; }
        .block-item-topics .topics-items .topics-item .topics-item-wrap .topics-item-box .title {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 5px; }
        .block-item-topics .topics-items .topics-item .topics-item-wrap .topics-item-box .des {
          padding: 0 40px;
          font-size: 15px;
          margin-bottom: 5px;
          height: 75px;
          overflow: hidden; }
        .block-item-topics .topics-items .topics-item .topics-item-wrap .topics-item-box .note {
          display: inline-block;
          width: auto;
          font-size: 12px;
          color: #fff;
          border-radius: 999px;
          padding: 4px 12px; }

.block-usagi .usagi-items {
  display: flex;
  justify-content: center; }
  .block-usagi .usagi-items .usagi-item-img:first-child {
    margin-top: -65px;
    margin-left: 75px; }
  .block-usagi .usagi-items .usagi-item-txt {
    width: 345px;
    margin: 80px 30px 0 40px; }
    .block-usagi .usagi-items .usagi-item-txt p {
      color: #000;
      font-size: 23px;
      letter-spacing: 3px; }
    .block-usagi .usagi-items .usagi-item-txt a {
      background: #E68F2B;
      color: #FFF;
      font-size: 18px;
      display: inline-block;
      width: 223px;
      height: 61px;
      text-align: center;
      line-height: 61px;
      margin-top: 30px; }
      .block-usagi .usagi-items .usagi-item-txt a:hover {
        background: #e19953; }

.block-tori .tori-items {
  display: flex;
  justify-content: center; }
  .block-tori .tori-items .tori-item-img:first-child {
    margin-top: -65px; }
  .block-tori .tori-items .tori-item-img:last-child {
    margin-top: -100px; }
  .block-tori .tori-items .tori-item-txt {
    width: 387px;
    margin: 70px 0 0 -25px;
    text-align: right; }
    .block-tori .tori-items .tori-item-txt p {
      color: #000;
      font-size: 23px;
      letter-spacing: 3px; }
    .block-tori .tori-items .tori-item-txt a {
      background: #E68F2B;
      color: #FFF;
      font-size: 18px;
      display: inline-block;
      width: 223px;
      height: 61px;
      text-align: center;
      line-height: 61px;
      margin-top: 30px; }
      .block-tori .tori-items .tori-item-txt a:hover {
        background: #e19953; }

.block-guidance .guidance-items {
  text-align: center; }
  .block-guidance .guidance-items .guidance-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; }
    .block-guidance .guidance-items .guidance-item .guidance-item-wrap {
      border-radius: 50%;
      background: url("../images/home-title-guidance-bg.png") no-repeat center;
      width: 284px;
      height: 284px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .block-guidance .guidance-items .guidance-item .guidance-item-wrap .guidance-item-box {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;
        border-radius: 50%;
        text-align: center; }
        .block-guidance .guidance-items .guidance-item .guidance-item-wrap .guidance-item-box .text {
          color: #385933;
          font-size: 17px;
          font-weight: bold;
          letter-spacing: 1.5px; }

.block-page-child .page-title {
  background: url(../images/craft-top-930x120.png) no-repeat top center;
  background-size: 100% 100%;
  background-origin: content-box;
  color: #385933;
  display: flex;
  align-items: center;
  height: 70px;
  position: relative; }
  .block-page-child .page-title:before {
    content: url("../images/leaf-930x120.png");
    position: absolute;
    top: -30px;
    right: 0;
    left: 0; }
  .block-page-child .page-title:after {
    content: url("../images/craft-top-shadow-930x120.png");
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0; }
  .block-page-child .page-title span {
    display: block;
    margin: 0 27px; }

.block-page-child .page-content .block-title {
  margin: 30px 0 20px;
  font-size: 30px;
  color: #FF4A57; }
  .block-page-child .page-content .block-title span {
    display: inline-block;
    vertical-align: middle; }

.block-page-child .page-content .block-sub-title {
  text-align: center; }
  .block-page-child .page-content .block-sub-title img {
    width: 50%; }

.list-sty-1 {
  margin: 20px 0; }
  .list-sty-1 li {
    margin-bottom: 30px; }
    .list-sty-1 li:last-child {
      margin-bottom: 0; }
    .list-sty-1 li .title {
      background: #007a1f;
      border-radius: 999px;
      color: #FFF;
      font-size: 15px;
      display: flex;
      align-items: center;
      padding: 2px 15px;
      height: 40px; }
      .list-sty-1 li .title .icon {
        margin-right: 15px; }
    .list-sty-1 li .content {
      color: #000;
      font-size: 17px;
      line-height: 26px;
      margin: 20px; }

/* ======================== HEADER ======================== */
.header {
  position: relative;
  background-size: 100%;
  z-index: 99;
  margin-bottom: 20px; }
  .header .wrap-header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
  .header .is-sticky .stick-header {
    background: url(../images/global-bg-stick.png) repeat;
    display: flex;
    z-index: 99;
    -webkit-box-shadow: 0px 5px 10px 0px black;
    -moz-box-shadow: 0px 5px 10px 0px black;
    box-shadow: 0px 5px 10px 0px black; }
  .header .header-logo {
    width: 225px; }
  .header .header-menu {
    margin-left: auto; }
    .header .header-menu .memu-items .memu-item {
      float: left;
      padding: 10px 25px;
      position: relative;
      background: transparent;
      transition: all 0.25s; }
      .header .header-menu .memu-items .memu-item:before {
        content: "";
        display: block;
        border-right: 3px solid #007a1f;
        margin: 0 auto;
        height: 30px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: 0; }
      .header .header-menu .memu-items .memu-item:first-child:before {
        display: none; }
      .header .header-menu .memu-items .memu-item a {
        color: #385933;
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: bold; }
        .header .header-menu .memu-items .memu-item a .icon {
          display: block;
          margin-bottom: 5px; }
      .header .header-menu .memu-items .memu-item.memu-item:hover {
        transition: all 0.25s; }
        .header .header-menu .memu-items .memu-item.memu-item:hover > a {
          color: #FFF; }
        .header .header-menu .memu-items .memu-item.memu-item:hover:before {
          border-color: transparent; }
        .header .header-menu .memu-items .memu-item.memu-item:hover .memu-item-child {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translate(0, 0px);
          -ms-transform: translate(0, 0px);
          -o-transform: translate(0, 0px);
          transform: translate(0, 0px);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .header .header-menu .memu-items .memu-item.memu-item-home:hover {
        background: #e9450a; }
      .header .header-menu .memu-items .memu-item .memu-item-child {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        min-width: 300px;
        background: #FFF;
        border: 1px solid transparent;
        -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        -o-transform: translate(0, 10px);
        transform: translate(0, 10px);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .header .header-menu .memu-items .memu-item .memu-item-child li {
          background: transparent;
          padding: 10px 30px; }
          .header .header-menu .memu-items .memu-item .memu-item-child li a {
            text-align: left;
            color: #000;
            font-weight: normal;
            word-wrap: unset; }
      .header .header-menu .memu-items .memu-item.memu-item-about:hover {
        background: #91b136; }
      .header .header-menu .memu-items .memu-item.memu-item-about .memu-item-child {
        border-color: #91b136; }
        .header .header-menu .memu-items .memu-item.memu-item-about .memu-item-child li:hover {
          background: #C8D89A; }
      .header .header-menu .memu-items .memu-item.memu-item-summary:hover {
        background: #0085c2; }
      .header .header-menu .memu-items .memu-item.memu-item-summary .memu-item-child {
        border-color: #0085c2; }
        .header .header-menu .memu-items .memu-item.memu-item-summary .memu-item-child li:hover {
          background: #80C2E0; }
      .header .header-menu .memu-items .memu-item.memu-item-education:hover {
        background: #ffc700; }
      .header .header-menu .memu-items .memu-item.memu-item-education .memu-item-child {
        border-color: #ffc700; }
        .header .header-menu .memu-items .memu-item.memu-item-education .memu-item-child li:hover {
          background: #FFE380; }
      .header .header-menu .memu-items .memu-item.memu-item-event:hover {
        background: #ef98bc; }
      .header .header-menu .memu-items .memu-item.memu-item-event .memu-item-child {
        border-color: #ef98bc; }
        .header .header-menu .memu-items .memu-item.memu-item-event .memu-item-child li:hover {
          background: #F6CBDD; }
      .header .header-menu .memu-items .memu-item.memu-item-support:hover {
        background: #e68f2b; }

/* ======================== ELEMENTS ======================== */
.block-banner {
  position: relative;
  margin-bottom: 50px; }
  .block-banner .block-banner-box {
    background: url("../images/craft-catch.png") no-repeat top center;
    background-size: 100%;
    height: 426px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -99px;
    position: relative; }
    .block-banner .block-banner-box .block-banner-des {
      width: 450px;
      margin: 0 auto;
      height: 170px;
      overflow: hidden; }
      .block-banner .block-banner-box .block-banner-des p {
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
        text-align: center; }

/* ======================== FOOTER ======================== */
.footer .footer-wrap {
  background: url("../images/craft-1920x500.png") no-repeat bottom center; }
  .footer .footer-wrap .footer-wrap-box-left,
  .footer .footer-wrap .footer-wrap-box-right {
    float: left;
    width: 48%; }
  .footer .footer-wrap .footer-wrap-box-left {
    margin-right: 1%; }
  .footer .footer-wrap .footer-wrap-box-right {
    margin-left: 1%; }

.footer .footer-about {
  font-size: 18px;
  font-weight: bold;
  color: #1d512c; }

.footer .footer-address {
  font-size: 25px;
  color: #1d512c;
  margin-top: 5px; }

.footer .footer-phone {
  margin-left: 45px; }
  .footer .footer-phone li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
    .footer .footer-phone li:last-child {
      margin-right: 0; }
    .footer .footer-phone li span {
      display: inline-block;
      vertical-align: middle; }
    .footer .footer-phone li .icon {
      margin-right: 5px; }
    .footer .footer-phone li .text {
      font-size: 30px;
      color: #1d512c; }

.footer .footer-copyright {
  background: #007a1f;
  padding: 10px 0; }
  .footer .footer-copyright p {
    color: #FFF;
    font-size: 16px; }

#map {
  width: 100%;
  height: 200px; }
