.header {
    // background: url('../images/top-bar.png') no-repeat top center;
    position: relative;
    background-size: 100%;
    z-index: 99;
    margin-bottom: 20px;
    .wrap-header {
        width: 1120px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .is-sticky {
        .stick-header {
            background: url(../images/global-bg-stick.png) repeat;
            display: flex;
            z-index: 99;
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,1);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,1);
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,1);
        }
    }
    .header-logo {
        width: 225px;
    }
    .header-menu {
        margin-left: auto;
        .memu-items {
            .memu-item {
                float: left;
                padding: 10px 25px;
                position: relative;
                background: transparent;
                transition: all 0.25s;
                &:before {
                    content: "";
                    display: block;
                    border-right: 3px solid #007a1f;
                    margin: 0 auto;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    left: 0;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                a {
                    color: #385933;
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    .icon {
                        display: block;
                        margin-bottom: 5px;
                    }
                }
                &.memu-item:hover {
                    transition: all 0.25s;
                    > a {
                        color: #FFF;
                    }
                    &:before {
                        border-color: transparent;
                    }
                    .memu-item-child {
                        opacity: 1;
                        visibility: visible;
                        -webkit-transform: translate(0, 0px);
                        -ms-transform: translate(0, 0px);
                        -o-transform: translate(0, 0px);
                        transform: translate(0, 0px);
                        -webkit-transition: 0.3s;
                        -o-transition: 0.3s;
                        transition: 0.3s;
                    }
                }
                &.memu-item-home:hover {
                    background: #e9450a;
                }
                .memu-item-child {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    min-width: 300px;
                    background: #FFF;
                    border: 1px solid transparent;
                    -webkit-transform: translate(0, 10px);
                    -ms-transform: translate(0, 10px);
                    -o-transform: translate(0, 10px);
                    transform: translate(0, 10px);
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                    li {
                        background: transparent;
                        padding: 10px 30px;
                        a {
                            text-align: left;
                            color: #000;
                            font-weight: normal;
                            word-wrap: unset;
                        }
                    }
                }
                &.memu-item-about {
                    &:hover {
                        background: #91b136;
                    }
                    .memu-item-child {
                        border-color: #91b136;
                        li {
                            &:hover {
                                background: #C8D89A;
                            }
                        }
                    }
                }
                &.memu-item-summary {
                    &:hover {
                        background: #0085c2;
                    }
                    .memu-item-child {
                        border-color: #0085c2;
                        li {
                            &:hover {
                                background: #80C2E0;
                            }
                        }
                    }
                }
                &.memu-item-education {
                    &:hover {
                        background: #ffc700;
                    }
                    .memu-item-child {
                        border-color: #ffc700;
                        li {
                            &:hover {
                                background: #FFE380;
                            }
                        }
                    }
                }
                &.memu-item-event {
                    &:hover {
                        background: #ef98bc;
                    }
                    .memu-item-child {
                        border-color: #ef98bc;
                        li {
                            &:hover {
                                background: #F6CBDD;
                            }
                        }
                    }
                }
                &.memu-item-support:hover {
                    background: #e68f2b;
                }
            }
        }
    }
}