.container {
	width: 1200px;
	margin: 0 auto;
}
.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.upper-text {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.page-child {
    padding: 30px 0;
    .page-left {
        float: left;
        width: 930px;
        margin-right: 30px;
    }
    .page-right {
        float: right;
        width: 240px;
    }
}

.block-item-home {
    margin-bottom: 50px;
    .block-wrap {
        background: url('../images/craft-1920x500.png') no-repeat top center;
        background-size: 100% 100%;
        width: 100%;
        height: 500px;
        padding: 30px 0;
    }
    .block-title {
        margin-bottom: 20px;
        span {
            display: inline-block;
            vertical-align: middle;
        }
        .title {
            font-size: 35px;
            color: #FF4A57;
        }
    }
}

.block-item-topics {
    .topics-items {
        text-align: center;
        .topics-item {
            display: inline-block;
            vertical-align: middle;
            margin: 0 30px;
            .topics-item-wrap1 {
                background: url('../images/home-title-topic-bg1.png') no-repeat center;
                .topics-item-box {
                    .note {
                        background: #7192cb;
                    }
                }
            }
            .topics-item-wrap2 {
                background: url('../images/home-title-topic-bg2.png') no-repeat center;
                .topics-item-box {
                    .note {
                        background: #ee8b71;
                    }
                }
            }
            .topics-item-wrap {
                border-radius: 50%;
                width: 438px;
                height: 438px;
                display: flex;
                align-items: center;
                justify-content: center;
                .topics-item-box {
                    width: 90%;
                    height: 90%;
                    display: block;
                    background: #FFF;
                    border-radius: 50%;
                    .topics-item-ct {
                        padding: 20px;
                    }
                    .date {
                        font-size: 13px;
                        font-weight: 500;
                        margin: 5px 0;
                    }
                    .title {
                        font-size: 15px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .des {
                        padding: 0 40px;
                        font-size: 15px;
                        margin-bottom: 5px;
                        height: 75px;
                        overflow: hidden;
                    }
                    .note {
                        display: inline-block;
                        width: auto;
                        font-size: 12px;
                        color: #fff;
                        border-radius: 999px;
                        padding: 4px 12px;
                    }
                }
            }
        }
    }
}

.block-usagi {
    .usagi-items {
        display: flex;
        justify-content: center;
        .usagi-item-img {
            &:first-child {
                margin-top: -65px;
                margin-left: 75px;
            }
        }
        .usagi-item-txt {
                width: 345px;
                margin: 80px 30px 0 40px;
            p {
                color: #000;
                font-size: 23px;
                letter-spacing: 3px;
            }
            a {
                background: #E68F2B;
                color: #FFF;
                font-size: 18px;
                display: inline-block;
                width: 223px;
                height: 61px;
                text-align: center;
                line-height: 61px;
                margin-top: 30px;
                &:hover {
                    background: #e19953;
                }
            }
        }
    }
}

.block-tori {
    .tori-items {
        display: flex;
        justify-content: center;
        .tori-item-img {
            &:first-child {
                margin-top: -65px;
            }
            &:last-child {
                margin-top: -100px;
            }
        }
        .tori-item-txt {
            width: 387px;
            margin: 70px 0 0 -25px;
            text-align: right;
            p {
                color: #000;
                font-size: 23px;
                letter-spacing: 3px;
            }
            a {
                background: #E68F2B;
                color: #FFF;
                font-size: 18px;
                display: inline-block;
                width: 223px;
                height: 61px;
                text-align: center;
                line-height: 61px;
                margin-top: 30px;
                &:hover {
                    background: #e19953;
                }
            }
        }
    }
}

.block-guidance {
    .guidance-items {
        text-align: center;
        .guidance-item {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            .guidance-item-wrap {
                border-radius: 50%;
                background: url('../images/home-title-guidance-bg.png') no-repeat center;
                width: 284px;
                height: 284px;
                display: flex;
                align-items: center;
                justify-content: center;
                .guidance-item-box {
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: #FFF;
                    border-radius: 50%;
                    text-align: center;
                    .text {
                        color: #385933;
                        font-size: 17px;
                        font-weight: bold;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }
}

.block-page-child {
    .page-title {
        background: url(../images/craft-top-930x120.png) no-repeat top center;
        background-size: 100% 100%;
        background-origin: content-box;
        color: #385933;
        display: flex;
        align-items: center;
        height: 70px;
        position: relative;
        &:before {
            content: url('../images/leaf-930x120.png');
            position: absolute;
            top: -30px;
            right: 0;
            left: 0;
        }
        &:after {
            content: url('../images/craft-top-shadow-930x120.png');
            position: absolute;
            right: 0;
            bottom: -20px;
            left: 0;
        }
        span {
            display: block;
            margin: 0 27px;
        }
    }
    .page-content {
        .block-title {
            margin: 30px 0 20px;
            font-size: 30px;
            color: #FF4A57;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .block-sub-title {
            text-align: center;
            img {
                width: 50%;
            }
        }
    }
}

.list-sty-1 {
    margin: 20px 0;
    li {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            background: #007a1f;
            border-radius: 999px;
            color: #FFF;
            font-size: 15px;
            display: flex;
            align-items: center;
            padding: 2px 15px;
            height: 40px;
            .icon {
                margin-right: 15px;
            }
        }
        .content {
            color: #000;
            font-size: 17px;
            line-height: 26px;
            margin: 20px;
        }
    }
}