.container {
	width: 1200px;
	margin: 0 auto;
}
.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.upper-text {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.hr-border {
    background-image: linear-gradient(to right, #007a1f 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 3px;
    background-repeat: repeat-x;
    margin: 40px -20px;
    height: 3px;
}

.page-child {
    padding: 30px 0;
    .page-left {
        float: left;
        width: 930px;
        margin-right: 30px;
    }
    .page-right {
        float: right;
        width: 240px;
    }
}

.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 4px;
    right: 5px;
    z-index: 1;
    transform: translate3d(0, 70px, 0);
    -webkit-transform: translate3d(0, 70px, 0);
    -moz-transform: translate3d(0, 70px, 0);
    -ms-transform: translate3d(0, 70px, 0);
    -o-transform: translate3d(0, 70px, 0);
    -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up-visible {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.td-scroll-up:hover {
    opacity: .8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.block-banner {
    position: relative;
    margin-bottom: 50px;
    .block-banner-wrap {
        margin-top: -99px;
        position: relative;
        .block-banner-box {
            background: url('../images/craft-1920x500.png') no-repeat top center;
            background-size: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-around; 
            align-items: center;
            padding: 10px 0 20px;
            .block-banner-des {
                width: 450px;
                margin: 0 auto;
                overflow: hidden;
                p {
                    color: #385933;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 10px;
                }
            }
        }
    }
}

.block-item-home {
    margin-bottom: 50px;
    .block-wrap {
        background: url('../images/craft-1920x500.png') no-repeat top center;
        background-size: 100% 100%;
        width: 100%;
        padding: 30px 0;
    }
    .block-title {
        margin-bottom: 20px;
        span {
            display: inline-block;
            vertical-align: middle;
        }
        .title {
            font-size: 35px;
            color: #FF4A57;
        }
    }
}

.block-item-topics {
    .topics-items {
        text-align: center;
        .topics-item {
            display: inline-block;
            vertical-align: middle;
            margin: 0 30px;
            .topics-item-wrap1 {
                background: url('../images/home-title-topic-bg1.png') no-repeat center;
                .topics-item-box {
                    .note {
                        a {
                            background: #7192cb;
                        }
                    }
                }
            }
            .topics-item-wrap2 {
                background: url('../images/home-title-topic-bg2.png') no-repeat center;
                .topics-item-box {
                    .note {
                        a {
                            background: #ee8b71;
                        }
                    }
                }
            }
            .topics-item-wrap {
                border-radius: 50%;
                width: 438px;
                height: 438px;
                display: flex;
                align-items: center;
                justify-content: center;
                .topics-item-box {
                    width: 90%;
                    height: 90%;
                    display: block;
                    background: #FFF;
                    border-radius: 50%;
                    .topics-item-ct {
                        padding: 20px;
                    }
                    .date {
                        font-size: 13px;
                        font-weight: 500;
                        margin: 5px 0;
                    }
                    .title {
                        font-size: 15px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .des {
                        padding: 0 45px;
                        font-size: 15px;
                        margin-bottom: 5px;
                        height: 75px;
                        overflow: hidden;
                    }
                    .note {
                        padding: 0 80px;
                        a {
                            display: inline-block;
                            width: auto;
                            font-size: 12px;
                            color: #fff;
                            border-radius: 999px;
                            padding: 4px 12px;
                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.block-usagi {
    .usagi-items {
        display: flex;
        justify-content: center;
        .usagi-item-img {
            &:first-child {
                margin-top: -65px;
                margin-left: 75px;
            }
        }
        .usagi-item-txt {
                width: 345px;
                margin: 80px 30px 0 40px;
            p {
                color: #000;
                font-size: 23px;
                letter-spacing: 3px;
            }
            a {
                background: #E68F2B;
                color: #FFF;
                font-size: 18px;
                display: inline-block;
                width: 223px;
                height: 61px;
                text-align: center;
                line-height: 61px;
                margin-top: 30px;
                &:hover {
                    background: #e19953;
                }
            }
        }
    }
}

.block-tori {
    .tori-items {
        display: flex;
        justify-content: center;
        .tori-item-img {
            &:first-child {
                margin-top: -65px;
                margin-left: 50px;
            }
            &:last-child {
                margin-top: -100px;
                margin-left: 35px;
            }
        }
        .tori-item-txt {
            width: 387px;
            margin: 70px 0 0 -25px;
            text-align: right;
            p {
                color: #000;
                font-size: 23px;
                letter-spacing: 3px;
            }
            a {
                background: #E68F2B;
                color: #FFF;
                font-size: 18px;
                display: inline-block;
                width: 223px;
                height: 61px;
                text-align: center;
                line-height: 61px;
                margin-top: 30px;
                &:hover {
                    background: #e19953;
                }
            }
        }
    }
}

.block-guidance {
    .guidance-items {
        text-align: center;
        .guidance-item {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            .guidance-item-wrap {
                border-radius: 50%;
                background: url('../images/home-title-guidance-bg.png') no-repeat center;
                width: 284px;
                height: 284px;
                display: flex;
                align-items: center;
                justify-content: center;
                .guidance-item-box {
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: #FFF;
                    border-radius: 50%;
                    text-align: center;
                    .text {
                        color: #385933;
                        font-size: 17px;
                        font-weight: bold;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }
}

.block-page-child {
    .page-title {
        background: url(../images/craft-top-930x120.png) no-repeat top center;
        background-size: 100% 100%;
        background-origin: content-box;
        color: #385933;
        display: flex;
        align-items: center;
        height: 70px;
        position: relative;
        margin-top: 25px;
        &:before {
            content: url('../images/leaf-930x120.png');
            position: absolute;
            top: -30px;
            right: 0;
            left: 0;
        }
        &:after {
            content: url('../images/craft-top-shadow-930x120.png');
            position: absolute;
            right: 0;
            bottom: -20px;
            left: 0;
        }
        span {
            display: block;
            margin: 0 27px;
        }
    }
    .page-content {
        .block-title {
            margin: 30px 0 20px;
            font-size: 30px;
            color: #FF4A57;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .block-sub-title,
        .block-sub-title2,
        .block-sub-title3 {
            font-size: 18px;
            font-weight: normal;
            max-width: 600px;
            margin: 0 auto 30px;
            text-align: center;
            line-height: 28px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .block-sub-title2 {
            font-size: 16px;
        }
        .block-sub-title3 {
            font-size: 22px;
            margin: 30px auto;
            font-weight: bold;
            line-height: 1.6;
        }
    }
    .block-page-content {
        padding-bottom: 45px;
        margin-bottom: 45px;
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;  
        }
    }
}

.list-sty-1 {
    margin: 20px 0;
    li {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            background: #007a1f;
            border-radius: 999px;
            color: #FFF;
            font-size: 15px;
            display: flex;
            align-items: center;
            padding: 2px 15px;
            height: 40px;
            .icon {
                margin-right: 15px;
            }
        }
        .content {
            color: #000;
            line-height: 26px;
            margin: 20px;
            .tit {
                padding-left: 15px;
                font-weight: bold;
                font-size: 16px;
                position: relative;
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: #000;
                    display: inline-block;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
            }
        }
    }
}

.list-sty-2 {
    margin: 20px 0;
    li {
        display: inline-block;
        margin-bottom: 30px;
        text-align: center;
        width: -moz-calc(98% / 3);
        width: -webkit-calc(98% / 3);
        width: -o-calc(98% / 3);
        width: calc(98% / 3);
        margin: 0 auto;
        img {
            width: 100%;
        }
        &.onerow {
            display: block;
        }
    }
}

.block-page-about {    
    .about-list-items {
        .about-list-item {
            .about-list-item-ct {
                margin-top: 25px;
                .image {
                    margin-bottom: 35px;
                }
                .text {
                    p {
                        position: relative;
                        padding-left: 15px;
                        line-height: 1.6;
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &:before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: #000;
                            display: inline-block;
                            position: absolute;
                            top: 6px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

.block-widget {
    .block-widget-item {
        margin-bottom: 30px;
        .block-widget-list-sub {
            background: #FFF;
            padding: 5px 15px 5px;
            &:last-child {
                padding-bottom: 15px;
            }
            .title {
                background-image: linear-gradient(to right,#8A8A8A 33%, rgba(255,255,255,0) 0%);
                background-position: bottom;
                background-size: 6px 3px;
                background-repeat: repeat-x;
                font-weight: bold;
                font-size: 16px;
                padding-bottom: 5px;
                margin-bottom: 5px;
            }
            .block-widget-list {
                padding: 0;
                li {
                    padding: 0 0 10px 20px;
                    position: relative;
                    &:before {
                        content: url('../images/icon/icon_triangle.png');
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        left: 5px;
                        margin-top: -2px;
                    }
                }
            }
        }
        .block-widget-list {
            background: #FFF;
            padding: 5px 15px 15px;
            li {
                background-image: linear-gradient(to right,#8A8A8A 33%, rgba(255,255,255,0) 0%);
                background-position: bottom;
                background-size: 6px 3px;
                background-repeat: repeat-x;
                padding-bottom: 15px;
                margin-bottom: 5px;
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .title {
                    font-weight: bold;
                }
                .text {
                    line-height: 1.2;
                    a {
                        font-size: 15px;
                        color: #007a1f;
                        &:hover {
                            color: #019e29;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
        .block-widget-list-img {
            .icon {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
            .text {
                width: -moz-calc(100% - 50px);
                width: -webkit-calc(100% - 50px);
                width: -o-calc(100% - 50px);
                width: calc(100% - 50px);
            }
        }
    }
}

.block-page-summary,
.block-page-education,
.block-page-event,
.block-page-consultation,
.block-page-support {
    .block-page-content {
        margin-right: 20px;
        margin-left: 20px;
    }
}
.block-summary-image {
    li {
        float: left;
        margin-bottom: 20px;
        &:nth-child(2n+1) {
            float: right;
        }
    }
}

.block-summary-info-item {
    margin-bottom: 30px;
    .block-summary-info-wrap {
        background: url('../images/summary-bg.png');
        padding: 20px;
        ul {
            padding: 0 20px;
            li {
                background: url(../images/summary-border-bottom.png) no-repeat center bottom;
                padding-bottom: 10px;
                margin-bottom: 20px;
                span {
                    display: inline-block;
                    vertical-align: top;
                }
                .title {
                    width: 70px;
                    margin-right: 10px;
                }
                .dot {
                    width: 5px;
                    margin-right: 10px;
                }
                .des {
                    width: -moz-calc(100% - 110px);
                    width: -webkit-calc(100% - 110px);
                    width: -o-calc(100% - 110px);
                    width: calc(100% - 110px);
                }
            }
        }
    }
}

.block-education-list-intro {
    ul {
        li {
            display: flex;
            margin-bottom: 30px;
            &:nth-child(odd) {
                .image {
                    margin-left: 25px;
                }
            }
            &:nth-child(even) {
                .image {
                    margin-right: 25px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            .text {
                flex: 1;
                p {
                    font-size: 18px;
                    text-align: justify;
                }
            }
        }
    }
}

.block-oneday {
    img {
        width: 100%;
    }
    .timew {
        margin: 20px;
        font-size: 17px;
    }
}

.block-list-img {
    .title {
        margin-bottom: 20px;
    }
}

.block-education-list-intro2 {
    ul {
        margin: 0 20px;
        li {
            display: flex;
            margin-bottom: 30px;
            .image {
                margin-right: 25px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .text {
                flex: 1;
                p {
                    text-align: justify;
                }
            }
        }
    }
}

.block-education-list-intro3 {
    ul {
        li {
            flex-direction: column;
            .image2 {
                margin-right: 0;
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                > p {
                    width: 270px;
                    margin: 0 10px;

                }
            }
        }
    }
}

.block-text-row {
    p {
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.block-event-items {
    margin-right: -12.5px;
    margin-left: -12.5px;
    .block-event-item {
        float: left;
        width: 280px;
        margin: 0 12.5px;
        margin-bottom: 20px;
        &:nth-child(3n + 1) {
            clear: both;
        }
        .block-event-item-box {
            height: 460px;
            background: url('../images/event-item-bg.png');
            position: relative;
            .image {
                padding: 0 10px 10px;
                text-align: center;
            }
            .info {
                padding: 0 15px 15px;
                ul {
                    li {
                        &:before {
                            content: "";
                            width: 4px;
                            height: 4px;
                            background: #000;
                            border-radius: 100%;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 7px;
                        }
                    }
                }
            }
            .icon4 {
                position: absolute;
                right: 8px;
                bottom: 20px;
            }
            .icon5 {
                position: absolute;
                right: 18px;
                bottom: 0;
            }
            .icon6 {
                position: absolute;
                right: 0;
                bottom: -24px;
            }
            .icon7 {
                position: absolute;
                left: 0;
                bottom: -20px;
            }
            .icon8 {
                position: absolute;
                right: 25px;
                bottom: 0;
            }
            .icon9 {
                position: absolute;
                right: 17px;
                bottom: -21px;
            }
            .icon10 {
                position: absolute;
                right: 16px;
                bottom: 10px;
            }
            .icon11 {
                position: absolute;
                right: 17px;
                bottom: -5px;
            }
            .icon12 {
                position: absolute;
                right: 17px;
                bottom: 0;
            }
            .icon1 {
                position: absolute;
                right: 23px;
                bottom: 0;
            }
            .icon2 {
                position: absolute;
                right: 16px;
                bottom: 0;
            }
            .icon3 {
                position: absolute;
                right: 14px;
                bottom: 0;
            }
        }
    }
}

.consultation-list-items {
    .image {
        float: right;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .text {
        text-align: justify;
        font-size: 15px;
    }
}

.block-support-list {
    margin: 0 20px;
    > .block-support-list-wrap {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .note {
        margin-bottom: 20px;
    }
    .des {
        display: flex;
        .text {
            flex: 1;
        }
        .image {
            margin-left: 25px;
        }
    }
}

.block-support-list-info {
    .block-support-list-info-wrap {
        background: url('../images/summary-bg.png') no-repeat;
        padding: 30px 20px;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        .support-info-title {
            color: #538068;
        }
        .support-info-sub-title {
            margin-bottom: 20px;
            font-weight: normal;
            line-height: 1.4;
        }
        .support-sub-image {
            display: flex;
            justify-content: center;
            li {
                margin: 0 8px;
            }
        }
    }
}

.block-temporary-content {
    .des {
        .title {
            font-size: 15px;
        }
        ul {
            margin: 15px;
            li {
                font-size: 15px;
                &:before {
                    content: "";
                    width: 8px;
                    height: 6px;
                    background: #000;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }
    .block-support-list-info {
        margin-bottom: 50px;
        .support-info-title {
            color: #000;
            margin-bottom: 20px; 
        }
    }
    .temporary-sub-image {
        display: flex;
        li {
            position: relative;
            width: 391px;
            padding: 35px 20px 20px;
            &:first-child {
                background: url('../images/support/support-item2.png') no-repeat top center;
                &:before {
                    content: url('../images/support/support-item2-1.png');
                }
            }
            &:last-child {
                background: url('../images/support/support-item3.png') no-repeat top center;
                width: 391px;
                margin-left: auto;
                &:before {
                    content: url('../images/support/support-item3-1.png');
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: -30px;
                left: 50%;
                margin-left: -40px;
            }
            .temporary-sub-image-box {
                width: 85%;
                margin: 0 auto;
                height: 115px;
                overflow: hidden;
            }
        }
    }
}

.block-howcan {
    .howcan-title {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .howcan-item {
        .howcan-item-title {
            background: #F8DDBE;
            border-left: 9px solid #007A1F;
            color: #007A1F;
            font-size: 20px;
            font-weight: bold;
            padding: 0 10px;
            line-height: 40px;
        }
        .howcan-item-content {
            padding: 20px;
        }
        .howcan-item-content-list {
            li {
                margin-bottom: 20px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .icon {
                margin-bottom: 10px;
            }
            .text {
                flex: 1;
                margin-left: 20px;
                strong {
                    font-size: 15px;
                }
            }
        }
    }
}
/** street view icon - yellow man **/
.gm-svpc {
	display: none;
}

/** map/satillite toggle **/
.gm-style-mtc {
	display: none;
}