.block-banner {
    position: relative;
    margin-bottom: 50px;
    .block-banner-box {
        background: url('../images/craft-catch.png') no-repeat top center;
        background-size: 100%;
        height: 426px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -99px;
        position: relative;
        .block-banner-des {
            width: 450px;
            margin: 0 auto;
            height: 170px;
            overflow: hidden;
            p {
                color: #FFF;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}